## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Hithadhoo,MV,82.02,overcast clouds,-0.6000,73.0833,Scoop Guest House
1,5,Bandarbeyla,SO,76.93,few clouds,9.4942,50.8122,JABIR HOTEL
2,6,Port Alfred,ZA,75.00,few clouds,-33.5906,26.8910,The Halyards Hotel
3,7,Viedma,AR,79.00,clear sky,-40.8135,-62.9967,Hotel Cristal
4,14,Tarakan,ID,79.75,scattered clouds,3.3000,117.6333,RedDoorz Syariah near Taman Berlabuh Tarakan

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template ="""
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)

fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city
vacation_start = vacation_df.loc[(vacation_df["City"] == "Bredasdorp")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Bredasdorp")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Port Alfred")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "East London")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Saldanha")]

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Start: {start}, Stop1: {stop1}, Stop2:{stop2}, Stop3:{stop3}, End: {end}')

Start: (-34.5322, 20.0403), Stop1: (-33.5906, 26.891), Stop2:(-33.0153, 27.9116), Stop3:(-33.0117, 17.9442), End: (-34.5322, 20.0403)

In [23]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
# Lat and Lon Pairs
start = (-34.5322, 20.0403)
stop1 = (-33.5906, 26.891)
stop2 = (-33.0153, 27.9116)
stop3 = (-33.0117, 17.9442)
end = (-34.5322, 20.0403)

fig = gmaps.figure()
southafrica_trip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode = 'DRIVING')
fig.add_layer(southafrica_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,80,Bredasdorp,ZA,75.2,few clouds,-34.5322,20.0403,Bredasdorp Country Manor
1,6,Port Alfred,ZA,75.0,few clouds,-33.5906,26.8910,The Halyards Hotel
2,16,East London,ZA,77.0,broken clouds,-33.0153,27.9116,Tu Casa
3,234,Saldanha,ZA,75.2,few clouds,-33.0117,17.9442,Blue Bay Lodge
4,80,Bredasdorp,ZA,75.2,few clouds,-34.5322,20.0403,Bredasdorp Country Manor

In [29]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))